## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [3]:
import pandas as pd

data = pd.read_csv('Resources/client_dataset.csv')
data.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [4]:
# View the column names in the data
column_names = data.columns.tolist()

print(column_names)

['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id', 'order_date', 'order_week', 'order_year', 'item_id', 'category', 'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty', 'line_number']

In [5]:
# Use the describe function to gather some basic statistics
statistics = data.describe()
print(statistics)

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [6]:
# Use this space to do any additional research
# and familiarize yourself with the data.
data = data[["client_id", "order_year", "unit_weight"]]
data.head()

   client_id  order_year  unit_weight
0      58515        2023         7.50
1      37609        2023         1.49
2      57113        2023         1.68
3      46554        2023         1.23
4      92089        2023        46.43

In [7]:
# What three item categories had the most entries?
data = pd.read_csv('Resources/client_dataset.csv')

top_categories = data['category'].value_counts().head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [8]:
# For the category with the most entries, which subcategory had the most entries?
most_common_category = data['category'].value_counts().idxmax()

most_common_subcategory = (data[data['category'] == most_common_category]['subcategory'].value_counts().idxmax())

print(most_common_category, most_common_subcategory)

consumables bathroom supplies

In [9]:
# Which five clients had the most entries in the data?
data = pd.read_csv('Resources/client_dataset.csv')

top_clients = data['client_id'].value_counts().head(5)
print(top_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [18]:
# Store the client ids of those top 5 clients in a list.
top_clients = data['client_id'].value_counts().head(5)

print(top_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [22]:
# How many total units (the qty column) did the client with the most entries order order?
#total_units_ordered = data[data['client_id'] == client_with_most_entries]['qty'].sum()
data = pd.read_csv('Resources/client_dataset.csv')
most_entries_client = data['client_id'].value_counts().idxmax()
filtered_data = data[data['client_id'] == most_entries_client]

total_units_ordered = filtered_data['qty'].sum()
print(total_units_ordered)

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [81]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
data['subtotal'] = data['unit_price'] * data['qty']
print(data.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

In [85]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
data['shipping_price'] = data['unit_weight'].apply(lambda x: 7 * x if x > 50 else 10 * x)
print(data.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal  \
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

   shipping_price
0            75.0
1            14.9
2            16.8
3            12.3
4           464.3

In [ ]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%

In [87]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
sales_tax_rate = 0.0925
data['total_price'] = data['subtotal'] + data['shipping_price'] + (data['subtotal'] + data['shipping_price']) * sales_tax_rate
print(data.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...     category         subcategory unit_price  \
0          17        2023  ...        decor            wall art    1096.80
1          20        2023  ...  consumables                pens      24.95
2           4        2023  ...     software  project management      13.52
3          17        2023  ...  consumables                pens      36.42
4          21        2023  ...  consumables                misc     195.10

   unit_cost  unit_weight  qty  line_number   subtotal  shipping_price  \
0     762.71         7.50  105            1  115164.00            75.0
1      15.09         1.49   21            0     523.95            14.9
2       7.86         1.68   39            6     527.28            16.8
3      24.85         1.23   29            3    1056.18            12.3
4     108.17        46.43   20            1    3902.00           464.3

     total_price
0  125898.607500
1     588.693625
2     594.407400
3    1167.314400
4    4770.182750

[5 rows x 21 columns]

In [89]:
# Create a column for the profit of each line using line cost and line price
data['profit'] = data['line_price'] - data['line_cost']
print(data.head())

KeyError: 'line_price'

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [ ]:
# Check your work using the totals above
def order_total(order_id):
    total_price = df.loc[df["order_id"] == order_id, "line_price"].sum()
    print(f'Order ID {order_id} total: ${total_price: .2f}')
Order_ids = [2742071, 2173913, 6128929]
for order_id in Order_ids:
    order_total(order_id)

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
#def print_client_total(client_id, col):
#    line_price = df.loc[df['client_id'] == client_id, col].sum()
#    print(f"{client_id}: ${total_price:,.2f}")

#for client_id in top_5_client_list:
#    print_client_total(client_id, "line_price")
for i in top_client_list:
    print(f"{1}: ${round((df[df["client_id"] == i]["line_price].sum()),2)}")

In [ ]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit.
data_dict = {'client_id': top_5_client_list}
columns = ['qty', 'shipping_price', 'line_price', 'line_cost', 'line_profit'

for col in columns;

In [ ]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns.
money_col = top_5_clients_rename.columns
money_col = money_col[2:]


# Define a function that converts a dollar amount to millions.
def dollars_to_millions(df, col2):
    df_new = df.copy()
    df[col2] = df[col2]/1000000
    return df_new 


# Apply the currency_format_millions function to only the money columns. 
dfm_d = dollars_to_millions(top_5_clients_rename, money_col)
dfm_d 

# Rename the columns to reflect the change in the money format.

In [ ]:
# Sort the updated data by "Total Profit (millions)" from highest to lowest and assign the sort to a new DatFrame.
final = dfm_d.sort_values("Total Profit (millions)",ascending=False)
final